@import "tailwindcss";

/* base styles (NO variants here) */
@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  * {
    box-sizing: border-box;
  }

  html, body, #root {
    min-height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }
}

/* utilities layer = variants are allowed */
@layer utilities {
  html, body, #root {
    @apply bg-slate-50  transition-colors duration-200;
  }

  .dark html,
  .dark body,
  .dark #root {
    @apply bg-slate-800 
  }
}



/*
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);



*/